@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #0066ff;
}

.container{
    margin: auto;
    margin-top: 46px;
    width: 640px !important;
    height: 520px !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); 
}
#f-register{
  background-color: aliceblue;
  border: 1px solid #0066ff;
  /* border-radius: 32px; */
}

.header{
  text-align: center;
  margin: 0 0 16px 0;
  padding: 16px;
  background-color: #0066ff;
  border: none;
  /* border-radius: 12px; */
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}

.header h2{
  color: white;
  font-size: 40px;
}

.f-input{
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.f-input input[type="text"]{
  width: 80%;
  height: 40px;
  font-size: 20px;
}

.f-checkbox{
  margin-top: 16px !important;
  margin: 0 12px 32px;
}

.f-checkbox input[type="checkbox"]{
  transform: scale(1.8);
}


.f-checkbox span{
  font-size: 20px;
}

.label{
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
}

.button-register{
  margin: 16px;
}

.accept-submit{
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.accept-submit span,
.accept-submit a{
  font-size: 20px;
}

#btn-submit{
  display: block;
  margin-bottom: 40px;
  padding: 12px 90px;
  background-color: #0066ff;
  color: white;
  border: none;
  font-size: 25px;
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}

#btn-submit:hover{
  opacity: 1;
}
