body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #3483f8, #0066ff);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  padding: 20px;
  text-align: center;
}

.login-form .logo img {
  width: 50px;
  margin-bottom: 20px;
}

h2 {
  margin: 0 0 20px;
  color: #6a6a6a;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
}

.input-group input:focus {
  border-color: #a18cd1;
}

.login-btn {
  background-color: #0066ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #0456d1;
}

.register {
  display: block;
  margin-top: 10px;
  color: #888;
  text-decoration: none;
  font-size: 14px;
}
.register:hover a {
  color: #002358;
  text-decoration: none;
}

.error-message {
  background-color: #ffdddd;
  color: #d8000c;
  border: 1px solid #d8000c;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.error-message p {
  margin: 0;
  font-size: 16px;
}

/* Các style khác cho form */
