#header__main{
    display: block !important;
    text-align: center;
}

.main{
    margin-bottom: 48px;
}

.info_user {
    display: flex; /* Sử dụng Flexbox để bố trí hai cột */
    gap: 20px; /* Khoảng cách giữa hai cột */
    align-items: flex-start; /* Đẩy the ben trong lên trên cùng */
    margin: 0 200px;
}


.col-left{
    flex: 1;
    padding: 12px;
}

.col-right {
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Tạo viền bóng */
    padding: 20px;
    background-color: #f9f9f9; /* Màu nền */
    border-radius: 8px; /* Bo góc */
}


label {
    display: inline-block; /* Đảm bảo nhãn được căn chỉnh đẹp */
    width: 70px; /* Độ rộng cố định của nhãn để căn đều */
    text-align: left; /* Căn chữ sang trai */
    margin-right: 4px; /* Tạo khoảng cách giữa nhãn và input */
}

input[type="text"], input[type="number"] {
    width: 300px; /* Đặt chiều rộng cố định cho tất cả các input */
    padding: 4px; /* Tăng kích thước cho input */
    border: 1px solid #ccc; /* Thêm viền cho input */
    border-radius: 4px; /* Bo góc */
    box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước */
    color:#ccc
}

.select-payment form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-payment label {
    display: inline-flex;
    width: auto;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

.select-payment input[type="radio"] {
    margin: 0; /* Loại bỏ khoảng cách mặc định */
}

#btn-submit {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

#btn-submit:hover {
    background: #0056b3;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}